<md-content layout="column" role="main">
	<!--md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="ctrl.add($event)">
		<ng-md-icon icon="add"></ng-md-icon>
	</md-button -->
	<ui-view layout="column" layout-fill layout-padding>
		

		<md-card flex-gt-sm="90" flex-gt-md="80">
			<md-card-content class="md-card-content-custom-scroll">
				<md-grid-list 
					md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
			        md-row-height-gt-md="1:1" md-row-height="4:3"
			        md-gutter="12px" md-gutter-gt-sm="8px" >

			        <md-grid-tile ng-repeat="prod in ctrl.products" style="background-color: lightblue;">

			        	<md-card style="background-color: transparent !important;" layout-fill layout-align="center center">
					        <md-card-title style="width: 100%;">
					          <md-card-title-text>
					            <span class="md-title">{{prod.name}}</span>
					            <span class="md-subhead">{{prod.price | currency:'R$'}}</span>
					          </md-card-title-text>
					          <md-card-title-media>
					            <div class="md-media-sm card-media"><img src="./assets/capas/{{prod.image}}"></div>
					          </md-card-title-media>
					        </md-card-title>

			        		<md-card-actions layout="row" layout-align="end center">
					          <md-button class="md-icon-button" aria-label="Add" layout-fill ng-click="ctrl.addProduct(prod.id)">
        						<ng-md-icon icon="add_shopping_cart" class="material-icons md-48"></ng-md-icon>
      						  </md-button>
					        </md-card-actions>
					      </md-card>
				    </md-grid-tile>

				</md-grid-list>
				
			</md-card-content>
		</md-card>
	</ui-view>
</md-content>
